* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(11, 6, 34);
}

.logo {
  margin-left: 5%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.logo h4 {
  font-weight: 300;
  font-size: x-large;
}
